---
layout: layouts/base.njk
permalink: /fr/actualites/
title: Actualités
description: "Les actualités Meritis : vie du groupe, engagements, événements, croissance et initiatives."
---
{% include "partials/news-index-body.njk" %}
